
<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" aria-label="{{#str}}navigation{{/str}}">

        {{# output.should_display_navbar_logo }}
            <span class="logo d-none d-sm-inline">
                <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
            </span>
        {{/ output.should_display_navbar_logo }}

        {{# output.secure_layout_language_menu }}
        <ul class="navbar-nav d-none d-md-flex">
            <!-- language_menu -->
            {{{ . }}}
        </ul>
        {{/ output.secure_layout_language_menu }}
        {{# output.secure_layout_login_info }}
        <div class="ml-auto">
            {{{ . }}}
        </div>
        {{/ output.secure_layout_login_info }}
</nav>